* {box-sizing: border-box;
    margin: 0;
    padding:0;

}



.containergalext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid greenyellow;
    height: fit-content;

}

.bannergalext1 {
    background-color: black;
    color: white;
    width: 300px;
    height: 100px;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picgalext {
    padding-top: 20px;
    padding-bottom: 20px;

}


.wordgalext {
    
    font-size: normal;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    padding-top: 20px;
    padding-bottom: 20px;
}



@media(min-width:600px) {
  .wordgalext {
      width: 600px;
  }
   
 }


/* *********MOBILE VERSION******* */
@media(max-width:601px) {

 .containergalext{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
   .picgalext {
    width: 460px;
   }

   .wordgalext {
       width: 400px;
   }
   
}