header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}

.tap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 5px solid blue;
    width: 500px;
}

.bannerinpic {
    background-position: left;
    background-image: url(//freewebsitetemplates.com/preview/mustacheenthusiast/images/the-beacon.jpg);  
    min-width: 960px;  
    height: 544px;
    background-repeat: no-repeat;
    border: 5px solid pink;  
    display:inline-flexbox;
    direction: ltr;
    padding-left: 50%;
 
}


.allwordNbutton{
    border: 5px solid orange;
    height: 400px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 30px;
}


/*********** white banner */

.whtbckgrn {
    border: 5px solid orange;
    background-color: white;
    font-weight: 1000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    width: fit-content;
    height: 50px;
   
}


/* *********mid banner********* */
.midbanners{
    border: 5px solid orangered;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    height:200px;
    width: fit-content;
}

.blkbckgrn{
    border: 5px solid orange;
    background-color: black;
    color:white;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    display:flex;
    align-items: center;
   height: 40px;
  } 


/* read me button */
.readme button {
    background: aqua;
    color:antiquewhite;
    font-weight: bolder;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
       
}

.readme button a:hover {
    background:darkgreen;
    text-decoration: none;
    color: white;
}

.piclink {
    border: 5px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:auto;
}

.piclink1 {
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:auto;
    font-weight: bolder;
    font-size: larger;
}

.piclink2 {
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:auto;
    font-weight: bolder;
    font-size: larger;
}

.piclink3 {
    border: 5px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:auto;
    font-weight: bolder;
    font-size: larger;
    
}

footer .socialicons {
    border: 5px solid yellow;
    background: black;
    color: white;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    
}

.imgs {
     border: 5px solid pink;
     height 45px; 
     width: 205px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}
.iconimg {
    border: 2px solid white;
    height: 44px;
}




@media(min-width:501px) { 
}






@media(max-width:501px) { 

    
}